name: Nix Linting

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  statix:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@v3

      - name: Run statix
        run: nix run nixpkgs#statix -- check .
